# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Build outputs
dist/

# Environment variables
.env

# Jest
test-results/
coverage/

# MacOS
.DS_Store

# Others
.idea/
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.dist/